<!-- <div class = "container">
	<div class="col-md-6"> -->
		<%= simple_form_for(@job, html: { class: 'form-horizontal'}) do |f| %>
			<%= f.collection_select :category_id, Category.all, :id, :name,
														  { promt: "Choose a category"}, input_html: { class: "form-control"} %>
			<%=	f.input :title, label: "Job Title" %>
			<%=	f.input :description, label: "job Description" %>
			<%=	f.input :company, label: "Company" %>
			<%=	f.input :url, label: "Link to job" %>
		  <%= f.button :submit %>
		<% end %>
	<!-- /div>
	<div class="col-md-6">
	</div>
</div> -->