<div class = "jobs">
	<h1><%= @job.title %></h1>
	<p><%= @job.description%></p>
	<p><%= @job.company%></p>
	<button type="button" class="btn btn-default">
		<%= link_to 'Apply for job', @job.url%>
	</button>
</div>
<div class = "links">
	<button type="button" class="btn-sm btn-default"><%= link_to 'Home', root_path %></button>
	<button type="button" class="btn-sm btn-default"><%= link_to 'Edit', edit_job_path(@job) %></button>
	<button type="button" class="btn-sm btn-default"><%= link_to 'Delete', job_path(@job),
	    method: :delete, data: { confirm: 'Are you sure?' }, class: "btn.btn-sm btn-default" %>
	</button>
</div>