<!DOCTYPE html>
<html>
  <head>
    <title>JobsBoard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="navbar navbar-default">
	  	<div class="container">

		    <ul class="nav navbar-nav">
			    <li> <%=link_to 'All Jobs', root_path %></li>
			  	<% Category.all.each do |category|%>
			  	<li><%= link_to category.name, jobs_path(category: category.name)%></li>
			  	<% end %>
			  </ul>
			 	<%= link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link"%>
	    </div>
	  </div>
	  <div class="container">
		  <div class="col-md-6 col-offset-3">
		  	<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>
       	<%= link_to "Sign_Up", new_user_registration_path %>
       	<%= link_to "Sign_In", new_user_session_path %>
       	<%= link_to 'Sign_out', destroy_user_session_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
		  	<%= yield %>
	  	</div>
	  </div>
  </body>
</html>
